:root{
    --color-secondary: #4C5273;
    --color-primary: #8d99bb;
    --color-accent: #F2E1AC;
    --color-supportingaccent: #A67232;
    --color-text: #1F2937 ;
    --color-paragraph-text: #1F2937;
    --color-background: #e8f1fa;
}



/* .sans{
font-family: 'General Sans', sans-serif;
}
.mono{
font-family: 'Roboto Mono', monospace;
} */

@font-face {
    font-family: 'Pixellari'; /*a name to be used later*/
    src: url("./Pixellari.ttf"); /*URL to font*/
}

html, body, #app {
  height: 100%;
  overflow: hidden; /* IMPORTANT: stop the page scrollbar */
}

.sans {
  font-family: "Pixellari", sans-serif;
  font-style: normal;
}

.mono {
  font-family: "Jersey 15", sans-serif;
  font-style: normal;
}

:deep(.custom-tooltip) {
  font-size: 18px !important;
}