@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
:root{
    --color-secondary: #4C5273;
    --color-primary: #7885A8;
    --color-accent: #F2E1AC;
    --color-supportingaccent: #A67232;
    --color-text: #233147;
    --color-background: #e8f1fa;
}

.sans{
font-family: 'General Sans', sans-serif;
}
.mono{
font-family: 'Roboto Mono', monospace;
}