name: Deploy to Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: chriskau.dev
          username: chris
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/Documents/DockerContainers/portfolio
            git pull origin main
            npm install
            npm run build
            docker-compose down
            docker-compose up -d